#box img{
    transition: all ease 0.3s;
}
#box:hover img{
    scale:1.2
}

#heartBeat{
    color: red;
    font-size: 1.2rem;
    margin: 0px 8px;
    animation: plusebeat 1s ease  infinite ;
}

@keyframes plusebeat {
    100%{
        scale: 1.2;
    }
}